repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: debug-statements
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies: ['dlint', 'typing_extensions']
  - repo: https://github.com/isidentical/teyit  # unit test formatter
    rev: 0.4.2
    hooks:
      - id: teyit
        language_version: python3.9
