[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-hcl2 = "*"
pytest = "*"
coverage ="*"
coverage-badge = "*"
pipenv-setup = "*"
GitPython = "*"
dpath = "==1.5.0"
bandit = "*"

[packages]
python-hcl2 = "*"
tabulate = "*"
colorama="*"
termcolor="*"
junit-xml ="*"
dpath = "==1.5.0"
pyyaml = "==5.2"
boto3 = "*"

[requires]
python_version = "3.7"
