[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
#
# REMINDER: Update "dev" deps on setup.py when changing
#
pytest = "*"
coverage ="==5.5"
coverage-badge = "*"
GitPython = "*"
bandit = "*"
urllib3-mock = "*"
jsonschema = "*"
atomicwrites = "*"

[packages]
#
# REMINDER: Update "install_requires" deps on setup.py when changing
#
bc-python-hcl2 = ">=0.3.21"
deep_merge = "*"
tabulate = "*"
colorama="*"
termcolor="*"
junit-xml = ">=1.9"
dpath = ">=1.5.0,<2"
pyyaml = ">=5.4.1"
boto3 = "==1.17.*"
GitPython = "*"
six = "==1.16.0"
jmespath = "*"
tqdm = "*"
update_checker = "*"
semantic_version = "*"
packaging = "*"
cloudsplaining = ">=0.4.3"
networkx = "*"
dockerfile-parse ="*"
docker = "*"
configargparse = "*"
detect_secrets = "*"
policyuniverse = "*"
typing-extensions = "*"
importlib-metadata = ">=0.12"
cachetools = "*"

[requires]
python_version = "3.7"
