[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
#
# REMINDER: Update "dev" deps on setup.py when changing
#
pytest = "*"
pytest-xdist = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-mock = "*"
coverage ="==5.5"
coverage-badge = "*"
bandit = "*"
urllib3-mock = "*"
jsonschema = "*"
importlib-resources = ">=1.3"
responses = "*"
aioresponses = "*"
types-cachetools = "*"
types-colorama = "*"
types-jmespath = "*"
types-jsonschema = "~=3.0"
types-pyyaml = ">=5.4.1"
types-requests = "*"
types-tabulate = "*"
types-tqdm = "*"
types-urllib3 = "*"
pre-commit = "*"
flake8 = "*"
dlint = "*"
mypy = "*"
flake8-bugbear = "*"
parameterized = "*"
time-machine = "*"
boto3-stubs-lite = {extras = ["s3"], version = "*"}

[packages]
#
# REMINDER: Update "install_requires" deps on setup.py when changing
#
bc-python-hcl2 = "==0.4.1"
bc-detect-secrets = "==1.4.30"
bc-jsonpath-ng = "==1.6.1"
tabulate = "*"
colorama="*"
termcolor="*"
junit-xml = ">=1.9"
dpath = "==2.1.3"
pyyaml = ">=5.4.1"
boto3 = ">=1.17"
gitpython = "*"
jmespath = "*"
tqdm = "*"
update-checker = "*"
semantic-version = "*"
packaging = "*"
cloudsplaining = ">=0.6.2"
networkx = "<2.7"
igraph = "<0.11.0"  # there will be some breaking changes, but not sure yet, if we will be affected
dockerfile-parse ="*"
docker = "*"
configargparse = "*"
argcomplete = "*"
typing-extensions = ">=4.1.0"
importlib-metadata = ">=0.12"
cachetools = "*"
cyclonedx-python-lib = ">=5.0.0"
packageurl-python = "*"
click = ">=8.0.0"
aiohttp = "*"
aiodns = "*"
aiomultiprocess = "*"
jsonschema = ">=4.6.0,<5.0.0"
prettytable = ">=3.0.0"
pycep-parser = "==0.4.1"
charset-normalizer = "*"
pyston-autoload = {version = "==2.3.5", markers="python_version < '3.11' and (sys_platform == 'linux' or sys_platform == 'darwin') and platform_machine == 'x86_64' and implementation_name == 'cpython'", index="pypi"}
pyston = {version = "==2.3.5", markers="python_version < '3.11' and (sys_platform == 'linux' or sys_platform == 'darwin') and platform_machine == 'x86_64' and implementation_name == 'cpython'", index="pypi"}
schema = "*"
requests = ">=2.27.0"
yarl = "*"
openai = "<1.0.0"  # it comes with a couple of changes a different dependencies, needs separate testing
spdx-tools = ">=0.8.0,<0.9.0"
license-expression = "*"
rustworkx = "*"
pydantic = "*"

[requires]
python_version = "3.8"
