name: Bump version
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: update version at python package
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          latest_tag=$(git describe --tags `git rev-list --tags --max-count=1`)
          new_tag=$(echo $latest_tag | awk -F. -v a="$1" -v b="$2" -v c="$3" '{printf("%d.%d.%d", $1+a, $2+b , $3+1)}')
          echo "version = '$new_tag'" > 'checkov/version.py'
          cat checkov/version.py
          git commit -m "bump version" checkov/version.py
          git tag $new_tag
          git push origin HEAD:master

