name: PR Test
on: pull_request

jobs:
  cfn-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install cfn-lint
        run: |
          pip install cfn-lint==0.41.0
      - name: Lint Cloudformation templates
        run: |
          cfn-lint tests/cloudformation/checks/resource/aws/**/* -i W

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - uses: dschep/install-pipenv-action@v1
      - name: Install dependencies
        run: |
          pipenv install --dev
      - name: Unit tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pipenv run python -m coverage run -m pytest tests
          pipenv run python -m coverage report
          pipenv run python -m coverage html

  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - uses: azure/setup-helm@v1
      - uses: dschep/install-pipenv-action@v1
      - name: Build & install checkov package
        run: |
          pipenv run pip install pytest
          pipenv run python setup.py sdist bdist_wheel
          pipenv run pip install --upgrade pip==20.2
          pipenv run pip install dist/checkov-*
      - name: Clone Terragoat - vulnerable terraform
        uses: actions/checkout@master
        with:
          repository: bridgecrewio/terragoat  # clone https://github.com/bridgecrewio/terragoat/
          token: ${{ secrets.GITHUB_TOKEN }}
          clean: false
          path: 'terragoat'
      - name: Clone Cfngoat - vulnerable cloudformation
        uses: actions/checkout@master
        with:
          repository: bridgecrewio/cfngoat  # clone https://github.com/bridgecrewio/cfngoat/
          token: ${{ secrets.GITHUB_TOKEN }}
          clean: false
          path: 'cfngoat'
      - name: Clone Kubernetes-goat - vulnerable kubernetes
        uses: actions/checkout@master
        with:
          repository: madhuakula/kubernetes-goat  # clone https://github.com/madhuakula/kubernetes-goat
          token: ${{ secrets.GITHUB_TOKEN }}
          clean: false
          path: 'kubernetes-goat'
      - name: Create checkov reports
        run: |
          pipenv run checkov -s -d terragoat/terraform/ -o json > checkov_report_terragoat.json
          pipenv run checkov -s -d cfngoat/ -o json > checkov_report_cfngoat.json
          pipenv run checkov -s -d kubernetes-goat/ --framework kubernetes -o json > checkov_report_kubernetes-goat.json
          pipenv run checkov -s -d kubernetes-goat/ --framework helm -o json > checkov_report_kubernetes-goat-helm.json
          pipenv run checkov -s  --skip-check CKV_AWS_33,CKV_AWS_41 -d terragoat/terraform/ -o json > checkov_report_terragoat_with_skip.json
          pipenv run checkov -s -d cfngoat/ -o json --quiet > checkov_report_cfngoat_quiet.json

      - name: Run integration tests
        run: |
          pipenv run pytest integration_tests
