name: PR Title

on:
  pull_request:
    branches:
      - master
    types: [opened, edited, reopened, synchronize]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: thehanimo/pr-title-checker@49341cf67d43f8469a3ba4c696968139925dbe7f  # v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          configuration_path: ".github/pr-title-checker-config.json"
