name: security

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master
jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: security test
        uses: jpetrucciani/bandit-check@master
        with:
          path: '.'