name: security

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master

permissions: read-all

jobs:
  bandit:
    runs-on: [self-hosted, public, linux, x64]
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b  # v3
      - name: security test
        uses: jpetrucciani/bandit-check@777589321f91b8ace16048d1f5a13a8aad6d9dff  # v1
        with:
          path: 'checkov'
  detect-secrets:
    runs-on: [self-hosted, public, linux, x64]
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b  # v3
      - name: detect secrets
        uses: edplato/trufflehog-actions-scan@0af17d9dd1410283f740eb76b0b8f6b696cadefc  # v0.9
        with:
          scanArguments: "--regex --entropy=False --exclude_paths .github/exclude-patterns.txt --max_depth=1"
